<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="sbt-plugin">
      </category>
      <view
            name="%view.name"
            icon="icons/logoDt.png"
            category="sbt-plugin"
            class="com.density.sbtplugin.views.SbtView"
            id="com.density.sbtplugin.views.SbtView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.density.sbtplugin.views.SbtView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="com.density.sbtplugin.views.SbtPatternMatchListener"
            id="sbt-plugin.sbtPatternMatchListener"
            regex="sbt-plugin.sbtPatternMatchListener">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.density.sbtplugin.preference.SbtPreferencePage"
            id="sbt-plugin.preferencePage"
            name="SBT">
      </page>
   </extension>

</plugin>
